*{
    box-sizing: border-box;
}
.kleding_form{
    height: 20%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kleding_form input[type = radio]{
    display: none;
}

.kleding_form label img{
    width: 50%;
}

.kleding_form input[type = radio]:checked+label img{
    background: #788fe6;
}

.avatar_section{
    background: linear-gradient(#427AC8,#3ADBBC);
    height: 450px;
    position: relative;
    width: 300px;
    margin: 10px auto;
}

.avatar_section #avatar{
    height: 450px;
    position: absolute;
    left: 80px;

}

.avatar_section .kleren.custom_made-t-shirt{
    /*background: #DD0568;*/
    position: absolute;
    display: block;
    height: 206px;
    left: 67px;
    top: 117px;
}

.avatar_section .kleren.custom_made-jas{
    /*background: #DD0568;*/
    position: absolute;
    display: none;
    height: 59%;
    left: 40px;
    top: 121px;
}
