html,
body {
    margin: 0;
    overflow: scroll;
    height: 100vh;
    background: linear-gradient(90deg, rgb(201,245,235),rgb(212,224,242));
}

*{
    box-sizing: border-box;


}

.snippets{
    font-family: 'Sniglet', cursive;
}
/*NAVBAR*/
.navbar {
    height: 80px;
    width: 100vw;
    /*background-image: linear-gradient(to right, #73187F, #DD0568);*/
    display: block;
    position: relative;
    text-align: left;
}
.navbar-background{
    width: 100vw;
    position: absolute;
    top :0;
    height: 100%;
    z-index: 0;
}

.navbar_menu-icons{
    position: absolute;
    right: 10px;
    margin: 20px;
    display: grid;
    text-align: right;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    z-index: 2;

}
.logo {
    position: absolute;
    margin-top: 13px;
    z-index: 2;
    width: 55px;
    margin-left: 80px;
}

.profiel-icon {
    margin-left: auto;
    width: 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.menu-icon {
    width: 40px;
    cursor: pointer;
}

.navbar_dropdown-content{
    display: none;
    position: absolute;
    right: 10px;
    text-align: right;
    background-color: #DD0568;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
}

.navbar_dropdown-content .navbar_dropdown-item{
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-top: 1px solid black;
    margin: 0;
}
.navbar_dropdown-content .navbar_dropdown-item:hover{
    background: linear-gradient(90deg, #73187F, #DD0568);
    transition: background-color 500ms;
}
.navbar_dropdown:hover .navbar_dropdown-content{
    display: block;
}

/*main wrapper ----------------------------*/
.wrapper{
    padding: 20px;
    height: calc(100vh - 160px);
    overflow: scroll;
    /*background-color: rgb(172, 202, 237);*/
}


/*Inlog vakje -------------------------------*/
#inlog_form, #register_form{
    display: none;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    top: 0;
    background: rgba(0,0,0,0.3);
}


.inlog_form-relative{
    margin: auto;
}

.vakje1 {
    width: 30%;
    max-width: 500px;
    height: auto;
    padding-bottom: 20px;
    margin: 5% auto 0;
    border-radius: 14px;
    background: white;
    border: 1px solid lightgrey;
    text-align: center;
    position: relative;
}
.close_modal-login{
    width: 20px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.profiel {

    width: 40px;
    margin: 60px auto 0;
}

h1 {
    font-size: 20px;
    margin: 2px auto 0;
}

p {
    margin: 10px auto;
}

h2 {
    font-size: 21px;
    text-align: left;
    margin-left: 15%;
}

.email {
    width: 70%;
    height: 30px;
    margin-top: -17px;
    border-radius: 5px;
    border: 1px solid grey;
}

h3 {
    font-size: 21px;
    margin-top: 30px;
    text-align: left;
    margin-left: 15%;
}

.wachtwoord {
    width: 70%;
    height: 30px;
    margin-top: -17px;
    border-radius: 5px;
    border: 1px solid grey;
}

a {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

/*Vakje onder*/
.vakje2 {
    width: 30%;
    max-width: 500px;
    height: 130px;
    margin: -10px auto 0;
    border-radius: 14px;
    border: 1px solid lightgrey;
    background-image: linear-gradient(to right, #73187F, #DD0568);
    text-align: center;
}

.vakje2 p {
    color: white;
    font-size: 12px;
    margin-top: 25px;
}

.button3 {
    width: 90%;
    height: 30px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}




/*for the game*/
.navbar_game{
    height: 40px;
    width: 100%;
    margin: 0 0 0 auto;
    background: #DD0568;
    border-radius: 7px 7px 0 0 ;

}

.navbar_game-canvas{
    height: 40px;
    width: 100%;
    /*margin: 0 auto 0 auto;*/
    background: #DD0568;
    text-align: right;
    border-radius: 7px 7px 0 0 ;
}

.navbar_game p{
    color: white;
    margin: 9px;
    font-weight: bolder;
    font-size: 19px;
    float: left;
    padding: 0;
    width: 30px;
}

.navbar_game-icon{
    height: 20px;
    margin: 9px 10px 0 0;
    float: right;
    cursor: pointer;
}
.navbar_game-canvas #btndownload{
    background: white;
    color: #DD0568;
    padding: 3px;
    margin: 9px 10px 0 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 7px;
}
.codes{
    /*border: 1px solid black;*/
    height: auto;
    border-radius: 7px 7px 0 0 ;
    box-shadow: 0 3px 5px 0 black;
}
.uitwerking{
    width: 100%;
    margin: 0 auto 0 auto;
    height: 100%;
    text-align: center;
    border-radius: 7px 7px 0 0 ;
    box-shadow: 0 3px 5px 0 black;
}
#blocklyDiv{
    height: calc(100% - 40px);
    max-height: 500px;
    width: 100%;

}

/* Scale canvas with resize attribute to full size */
#myCanvas {

    max-width: 500px;
    margin: 0 auto 0 auto;
    height: calc(100% - 40px);
    /*min-height: 300px;*/
    width: 50%;
}

.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    grid-gap: 20px;
    height: 70%;
}

.game_page{
    padding: 30px;
    background: white;
    border-radius: 9px ;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: auto;
}
.game_page h3{
    margin: 0;

    font-size: 30px;
    color: #73187F;
}

.tips{
    margin: 3% auto;
    width: 90%;
    height: 18%;
    border: #73187F 1px dashed;
    background: #DD0568;
    border-radius: 7px;
}

/* save modal windows*/

.saveModal{
    background: transparent;
    width: 100vw;
    display: none;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 71;
}

.modal-window{
    background: white;
    border-radius: 15px;
    width: 80%;
    height: 70%;
    margin: 5% auto;
    text-align: center;
}

.modal-window .close_modal-save{
    width: 20px;
    float: right;
    margin: 30px;
}

.modal-window .example-canvas{
    background: #DD0568;
    height: 80%;
    width: 30vw;
    margin: 5% ;

}

/*Footer*/
.footer {
    width: 100vw;

    display: block;
    position: absolute;
    height: 80px;
    bottom: 0;
    z-index: 70;

    text-align: left;
}

.footer_img{
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 100%;
}

.footer-tekst {
    color: white;
    font-size: 14px;
    margin: 0 0 0 20px;
    padding: 20px 0 0 0;
}

.footer_icons{
    right: 10px;
    top: 10px;
    position: absolute;
    width: auto;
}

.twitter {
    color: white;
    width: 36px;
    height: 36px;
}

.instagram {
    width: 34px;
    height: 34px;
    color: black;
}
